.description {
  margin-top: 2%;
  border-top: solid 1px #ff452b;
  padding-top: 2%;
}

.media1 {
  height: 70vh;
  width: 100%;
}

.root {
  max-width: 550px;
}

@media (max-width: 400px) {
  .root {
    max-width: 100%;
  }
  .media1 {
    height: 40vh;
  }
}
